<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VirusTotal Public API</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/style.css" />
  </head>
  <body>
    <h1>VirusTotal API</h1>
    <p id="description">
      Use the VirusTotal public API to scan URLs, domain names or IP Addresses
      for viruses and safety risks.
    </p>

    <div class="results">
      <% if(locals.userinput) { %>
      <h2 style="text-decoration: underline">Results</h2>
      <h3>For: <%= userinput %></h3>
      <% } %> <% if(locals.safety) { %>
      <h2>Safety examination: <span id="ResultColor"><%= safety %></span></h2>
      <% } else if(locals.error) { %>
      <h2><%= error %></h2>
      <% } %>
    </div>

    <div class="form-container">
      <form id="myForm" method="post">
        <div class="form">
          <label for="URL_input"
            ><span styke="width:30px;">URL check:</span
            ><i>(E.g. https://website.com/main/section.php)</i></label
          >
          <input
            type="url"
            id="URL_input"
            placeholder="Enter URL..."
            name="url"
          />
          <input id="post" type="submit" value="SEND" formaction="/send-url" />
        </div>
        <div class="form">
          <label for="DomainInput"
            >Domain name check: <i>(E.g. google.com)</i></label
          >
          <input
            type="text"
            id="DomainInput"
            placeholder="Enter Domain..."
            name="domain"
          />
          <input
            id="post"
            type="submit"
            value="SEND"
            formaction="/send-domain"
          />
        </div>
        <div class="form">
          <label for="UploadInput"
            >IP address check:<i>(E.g. 82.48.65.40)</i></label
          >
          <input
            type="ip"
            id="UploadInput"
            placeholder="Enter IP address..."
            name="ipaddress"
          />
          <input id="post" type="submit" value="SEND" formaction="/send-ip" />
        </div>
      </form>
    </div>

    <p>
      <span style="color: red">*</span
      ><i> Safety examination uses BitDefender™ engine. </i>
    </p>

    <script type="text/javascript">
      window.addEventListener(
        "keydown",
        function (e) {
          if (
            e.keyIdentifier == "U+000A" ||
            e.keyIdentifier == "Enter" ||
            e.keyCode == 13
          ) {
            if (e.target.nodeName == "INPUT" && e.target.type == "text") {
              e.preventDefault();
              return false;
            }
          }
        },
        true
      );

      if (document.getElementById("ResultColor").textContent === "harmless") {
        document.getElementById("ResultColor").style.color = "#00ec00";
      }
    </script>
  </body>

  <footer>
    <hr />
    <div id="copyright">
      <p>Copyrights © <%= new Date().getFullYear() %></p>
    </div>
  </footer>
</html>
